<!DOCTYPE html>
<html lang="en-US">

<head>
    <%- include('includes/head') %>
</head>

<body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
        <h1>Something Went Wrong!</h1>
        <p>
            There was an issue on our end.
        </p>
    </main>
</body>

</html>